$image-theme-path-base:'../../../images/';
$image-theme-path : '../../../images/';


$theme-color-primary   : #FF9600;
$theme-color-secondary : #FF9600; 
$topbar-bg				: #FF9600;
$product-price-color	: #FF9600;
$link-hover-color		: #FF9600;

$megamenu-sub-link-hover-color: $link-hover-color;
$megamenu-link-hover-color : $link-hover-color;
$product-name-hover-color: $link-hover-color;
