<?xml version="1.0"?>  
<config>  
    <modules>  
        <Ves_BlockBuilder>  
            <version>1.1.0</version>  
        </Ves_BlockBuilder>  
    </modules>
    <frontend>
        <routers>
            <blockbuilder>
                <use>standard</use>
                <args>
                    <module>Ves_BlockBuilder</module>
                    <frontName>blockbuilder</frontName>
                </args>
            </blockbuilder>
        </routers>
        <translate>
            <modules>
                <Ves_BlockBuilder>
                    <files>
                        <default>Ves_BlockBuilder.csv</default>
                    </files>
                </Ves_BlockBuilder>
            </modules>
        </translate>
        <layout>
            <updates>
                <ves_blockbuilder>
                    <file>ves_blockbuilder.xml</file>
                </ves_blockbuilder>
            </updates>
        </layout>
    </frontend> 
    <global>
        <blocks>
             <ves_blockbuilder>
                <class>Ves_BlockBuilder_Block</class>
             </ves_blockbuilder>
        </blocks>
        <models>
            <ves_blockbuilder>
                <class>Ves_BlockBuilder_Model</class>
                <resourceModel>ves_blockbuilder_mysql4</resourceModel>
            </ves_blockbuilder>
            <ves_blockbuilder_mysql4>
                <class>Ves_BlockBuilder_Model_Mysql4</class>
                <entities>     
                    <block>
                        <table>ves_blockbuilder_block</table>
                    </block>
                    <template>
                        <table>ves_blockbuilder_template</table>
                    </template>
                    <selector>
                        <table>ves_blockbuilder_selector</table>
                    </selector>
                </entities>
            </ves_blockbuilder_mysql4>
        </models>
        <helpers>
            <ves_blockbuilder>
                <class>Ves_BlockBuilder_Helper</class>
            </ves_blockbuilder>
        </helpers>
        <resources>
            <ves_blockbuilder_setup>
                <setup>
                    <module>Ves_BlockBuilder</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ves_blockbuilder_setup>
            <ves_blockbuilder_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ves_blockbuilder_write>
            <ves_blockbuilder_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ves_blockbuilder_read>
        </resources>
    </global>

    <admin>
        <routers>
            <blockbuilder>
                <use>admin</use>
                <args>
                    <module>Ves_BlockBuilder</module>
                    <frontName>blockbuilder</frontName>
                </args>
            </blockbuilder>
            <adminhtml>
                <args>
                    <modules>
                        <Ves_BlockBuilder after="Mage_Adminhtml">Ves_BlockBuilder</Ves_BlockBuilder>
                    </modules>
                </args>
            </adminhtml>
        </routers>

    </admin>

    <adminhtml>
        <layout>
            <updates>
                <blockbuilder>
                    <file>ves_blockbuilder.xml</file>
                </blockbuilder>
            </updates>
        </layout>
        <translate>
            <modules>
                <Ves_BlockBuilder>
                    <files>
                        <default>Ves_BlockBuilder.csv</default>
                    </files>
                </Ves_BlockBuilder>
            </modules>
        </translate>
    </adminhtml>
    
    <default>
        <ves_blockbuilder>
            <ves_blockbuilder>
                <show>1</show>
                <enable_jquery>0</enable_jquery>
                <enable_jquery_ui>0</enable_jquery_ui>
                <enable_owl>0</enable_owl>
                <enable_colorbox>1</enable_colorbox>
                <enable_animation>1</enable_animation>
                <enable_holder_js>1</enable_holder_js>
                <enable_bootstrap>0</enable_bootstrap>
                <enable_tinybootstrap>0</enable_tinybootstrap>
                <use_sample_elements>0</use_sample_elements>
                <cache_lifetime>86400</cache_lifetime>
            </ves_blockbuilder>
        </ves_blockbuilder>
        <ves_livecss>
            <general>
                <show>0</show>
                <allow_save_profile>1</allow_save_profile>
            </general>
        </ves_livecss>
    </default>
</config>