$image-theme-path-base:'../../../images/';
$image-theme-path : '../../../images/';


$theme-color-primary   : #EC73A8;
$theme-color-secondary : #EC73A8; 
$topbar-bg				: #EC73A8;
$product-price-color	: #EC73A8;
$link-hover-color		: #EC73A8;

$megamenu-sub-link-hover-color: $link-hover-color;
$megamenu-link-hover-color : $link-hover-color;
$product-name-hover-color: $link-hover-color;
