$image-theme-path-base:'../../../images/';
$image-theme-path : '../../../images/';


$theme-color-primary   : #666;
$theme-color-secondary : #666; 
$topbar-bg				: #666;
$product-price-color	: #666;
$link-hover-color		: #666;

$megamenu-sub-link-hover-color: $link-hover-color;
$megamenu-link-hover-color : $link-hover-color;
$product-name-hover-color: $link-hover-color;
