$image-theme-path-base:'../../../images/';
$image-theme-path : '../../../images/';


$theme-color-primary   : #791788;
$theme-color-secondary : #791788; 
$topbar-bg				: #791788;
$product-price-color	: #791788;
$link-hover-color		: #791788;

$megamenu-sub-link-hover-color: $link-hover-color;
$megamenu-link-hover-color : $link-hover-color;
$product-name-hover-color: $link-hover-color;
