$image-theme-path-base:'../../../images/';
$image-theme-path : '../../../images/';


$theme-color-primary   : #78BEC8;
$theme-color-secondary : #78BEC8; 
$topbar-bg				: #78BEC8;
$product-price-color	: #78BEC8;
$link-hover-color		: #78BEC8;

$megamenu-sub-link-hover-color: $link-hover-color;
$megamenu-link-hover-color : $link-hover-color;
$product-name-hover-color: $link-hover-color;
